---
import '../cssforwidget/concept.css'
---

<ul>
    <li>
      <a class="animated-arrow" href="./contactus">
        <span class="the-arrow -left">
          <span class="shaft"></span>
        </span>
        <span class="main">
          <span class="text">
            Explore More
          </span>
          <span class="the-arrow -right">
            <span class="shaft"></span>
          </span>
        </span>
      </a>
    </li>
  </ul>