---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import pic from '../assets/images/carousel/IMG_0908.jpg'
import pic2 from '../assets/images/carousel/IMG_0909.jpg'
import pic3 from '../assets/images/carousel/IMG_0910.jpg'
import pic4 from '../assets/images/carousel/IMG_0911.jpg'
import pic5 from '../assets/images/carousel/IMG_0912.jpg'
import pic6 from '../assets/images/carousel/IMG_0913.jpg'
import pic7 from '../assets/images/carousel/IMG_0914.jpg'
import pic8 from '../assets/images/carousel/IMG_0915.jpg'
import pic9 from '../assets/images/carousel/IMG_0916.jpg'
import pic10 from '../assets/images/carousel/IMG_0917.jpg'
import pic11 from '../assets/images/carousel/IMG_0918.jpg'
import pic12 from '../assets/images/carousel/IMG_0919.jpg'
import pic13 from '../assets/images/carousel/IMG_0920.jpg'


const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};


---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Contact Us', href: '/ContactUs' }}
    
  
    
  >
  
  <Fragment slot="title">
    Why choose
    <span class="text-accent dark:text-white highlight"> Nelson Construction Services</span> for your next home renovation    </Fragment>
    
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold"></span>Nelson Construction Services</span> Led by Nelson Guerrero with over 30 years of experience, is a premier construction company that meets your remodeling needs. Our skilled team of professionals is dedicated to transforming your living spaces to a modern design, functionality, and aesthetics. We offer expert painting, flooring, and drywall installation to ensure a comprehensive home improvement solution.</span
        >
        
      </Fragment>
    </Hero>
  

  <!-- Note Widget ******************* -->

  <Note />


  <!-- Features2 Widget ************** -->

 
  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Find out what makes NCS stand out"
    information={`Combining over 30 years of experience, comprehensive home renovation services, and a customer-focused approach to deliver safe, sustainable, and aesthetically pleasing home transformations.
                `}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />

  <!-- FAQs Widget ******************* -->



  <!-- Stats Widget ****************** -->

  <!-- CallToAction Widget *********** -->


    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
